.JDtaskThumbnail {
  grid-area: JDtaskThumbnail;
  justify-self: center;
}

.JDcategory {
  grid-area: JDcategory;
}

.JDcategory2 {
  grid-area: JDcategory2;
}

.JDsubcategory {
  grid-area: JDsubcategory;
}

.JDsubcategory2 {
  grid-area: JDsubcategory2;
}

.JDlocation {
  grid-area: JDlocation;
}

.JDlocation2 {
  grid-area: JDlocation2;
}

.JDskillDescription {
  grid-area: JDskillDescription;
}

.JDskillDescription2 {
  grid-area: JDskillDescription2;
}

.JDabout {
  grid-area: JDabout;
}

.JDabout2 {
  grid-area: JDabout2;
}

.JDrequestedBy {
  grid-area: JDrequestedBy;
}

.JDrequestedBy2 {
  grid-area: JDrequestedBy2;
}

.JDbookTaskButton {
  grid-area: JDbookTaskButton;
}

.grid-container {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'JDtaskThumbnail JDtaskThumbnail'
    'JDcategory JDcategory2'
    'JDsubcategory JDsubcategory2'
    'JDlocation JDlocation2'
    'JDskillDescription JDskillDescription2'
    'JDabout JDabout2'
    'JDrequestedBy JDrequestedBy2';
}
.leaflet-container {
  width: 70%;
  height: 82vh;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  top: 70px;
}

.task-disc {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1px;
  top: 190px;
  margin: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 25%;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
}

.task-disc > img {
  width: 20%;
  border: 2px solid black;
  border-radius: 50px;
}
